config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.fieldNameConstants.uppercase = true
lombok.copyableAnnotations += com.google.inject.name.Named
lombok.copyableAnnotations += ru.vyarus.dropwizard.guice.module.yaml.bind.Config
lombok.copyableAnnotations += com.phonepe.platform.atomdb.server.guice.bindings.OlympusAuthSupplier